body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Comic Sans Ms', cursive;
}

h1 {
    font-family: fantasy;
    color: yellow;
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
}


img {
    height: 300px;
    text-align: flex end;

    margin-right: 500px;
}
